<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeControlServlet</servlet-name>
        <servlet-class>controller.HomeControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryControlServlet</servlet-name>
        <servlet-class>controller.CategoryControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailControlServlet</servlet-name>
        <servlet-class>controller.DetailControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchContolServlet</servlet-name>
        <servlet-class>controller.SearchContolServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginControlServlet</servlet-name>
        <servlet-class>controller.LoginControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpControlServlet</servlet-name>
        <servlet-class>controller.SignUpControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutControlServlet</servlet-name>
        <servlet-class>controller.LogoutControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerControlServlet</servlet-name>
        <servlet-class>controller.ManagerControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteControlServlet</servlet-name>
        <servlet-class>controller.DeleteControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddControlServlet</servlet-name>
        <servlet-class>controller.AddControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadControlServlet</servlet-name>
        <servlet-class>controller.LoadControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCartControlServlet</servlet-name>
        <servlet-class>controller.ShowCartControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyControlServlet</servlet-name>
        <servlet-class>controller.BuyControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartControlServlet</servlet-name>
        <servlet-class>controller.CartControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveProductControlServlet</servlet-name>
        <servlet-class>controller.RemoveProductControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubControlServlet</servlet-name>
        <servlet-class>controller.SubControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchasedControlServlet</servlet-name>
        <servlet-class>controller.PurchasedControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageSalesmanControlServlet</servlet-name>
        <servlet-class>controller.ManageSalesmanControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageClientControlServlet</servlet-name>
        <servlet-class>controller.ManageClientControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterSalesControlServlet</servlet-name>
        <servlet-class>controller.RegisterSalesControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteClientControlServlet</servlet-name>
        <servlet-class>controller.DeleteClientControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewClientControlServlet</servlet-name>
        <servlet-class>controller.ViewClientControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddClientControlServlet</servlet-name>
        <servlet-class>controller.AddClientControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditClientControlServlet</servlet-name>
        <servlet-class>controller.EditClientControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSalesmanControlServlet</servlet-name>
        <servlet-class>controller.DeleteSalesmanControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSalesmanControlServlet</servlet-name>
        <servlet-class>controller.AddSalesmanControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSalesmanServlet</servlet-name>
        <servlet-class>controller.EditSalesmanControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSalesmanControlServlet</servlet-name>
        <servlet-class>controller.ViewSalesmanControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteProductServlet</servlet-name>
        <servlet-class>controller.AdminDeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyVoucherServlet</servlet-name>
        <servlet-class>controller.ApplyVoucherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteVoucherServlet</servlet-name>
        <servlet-class>controller.DeleteVoucherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoucherServlet</servlet-name>
        <servlet-class>controller.VoucherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteVoucherServlet</servlet-name>
        <servlet-class>controller.AdminDeleteVoucherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditVoucherServlet</servlet-name>
        <servlet-class>controller.EditVoucherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddVoucherServlet</servlet-name>
        <servlet-class>controller.AddVoucherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SoldAdminServlet</servlet-name>
        <servlet-class>controller.SoldAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeControlServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryControlServlet</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailControlServlet</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchContolServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginControlServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpControlServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutControlServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerControlServlet</servlet-name>
        <url-pattern>/manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteControlServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddControlServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadControlServlet</servlet-name>
        <url-pattern>/loadProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCartControlServlet</servlet-name>
        <url-pattern>/show</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyControlServlet</servlet-name>
        <url-pattern>/buy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartControlServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveProductControlServlet</servlet-name>
        <url-pattern>/remove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubControlServlet</servlet-name>
        <url-pattern>/sub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchasedControlServlet</servlet-name>
        <url-pattern>/purchased</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageSalesmanControlServlet</servlet-name>
        <url-pattern>/salesman</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageClientControlServlet</servlet-name>
        <url-pattern>/client</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterSalesControlServlet</servlet-name>
        <url-pattern>/registerSales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteClientControlServlet</servlet-name>
        <url-pattern>/deleteClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewClientControlServlet</servlet-name>
        <url-pattern>/viewClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddClientControlServlet</servlet-name>
        <url-pattern>/addClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditClientControlServlet</servlet-name>
        <url-pattern>/editClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSalesmanControlServlet</servlet-name>
        <url-pattern>/deleteSalesman</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSalesmanControlServlet</servlet-name>
        <url-pattern>/addSalesman</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSalesmanServlet</servlet-name>
        <url-pattern>/editSalesman</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSalesmanControlServlet</servlet-name>
        <url-pattern>/viewSalesman</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteProductServlet</servlet-name>
        <url-pattern>/adminDeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyVoucherServlet</servlet-name>
        <url-pattern>/applyVoucher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteVoucherServlet</servlet-name>
        <url-pattern>/deleteVoucher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoucherServlet</servlet-name>
        <url-pattern>/voucher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteVoucherServlet</servlet-name>
        <url-pattern>/adminDeleteVoucher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditVoucherServlet</servlet-name>
        <url-pattern>/editVoucher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddVoucherServlet</servlet-name>
        <url-pattern>/addVoucher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SoldAdminServlet</servlet-name>
        <url-pattern>/sold</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            10
        </session-timeout>
    </session-config>
</web-app>
